.lunch_item {
  margin: 30px 0;
  .lunch_date {
    border-radius: 10px;
    overflow: hidden;
    width: 100px;
    display: inline-block;
    background: black;
    .weekday {
      background: $gold;
      text-align: center;
      font-size: 15px;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.4;
      margin-bottom: 0;
    }
    .content {
      background: black;
      color: white;
      .month {
        text-transform: uppercase;
        text-align: center;
        line-height: 1;
        font-size: 15px;
        margin-bottom: 0;
        margin-top: 5px;
      }
      .day {
        font-size: 50px;
        text-align: center;
            line-height: 1;
      }
    }
  }
  .lunch_content {
    display: inline-block;
    vertical-align: top;
    padding: 0 15px;
    .lunch_copy, .lunch_copy p {
      line-height: 1;
    }
  }
  &.featured {
    .lunch_date {
      width: 225px;
      .weekday {
        font-size: 30px;
      }
      .content {
        .month {
          font-size: 30px;
        }
        .day {
          font-size: 125px;
        }
      }
    }
  }
}
.featured_lunch_break {
  background: $gold;
  height: 15px;
}

.next_week_wrapper, .prev_week_wrapper {
  position: relative;
  overflow: hidden;
  font-size: 25px;
  .next_week {
    position: relative;
    float: right;
    background: $gold;
    transition: 0.15s ease-out;
    width: 200px;
    width: 275px;
    text-transform: uppercase;
    &:before {
      content: '';
      display: block;
      border: $gold 1000px solid;
      position: absolute;
      right: 100%;
      top: 0;
      border-top-color: transparent;
      border-right: 500px solid $gold;
      border-left-color: transparent;
      transition: 0.15s ease-out;
    }
    a {
      display: block;
      color: $dark;
      padding: 15px 10%;
      padding-right: 15%;
      text-align: center;
      transition: 0.15s ease-out;
      &:hover {
        color: white;
      }
    }
    &:hover {
      background: $dark;
      &:before {
        border-right-color: $dark;
        border-bottom-color: $dark;
      }
    }
  }
  .prev_week {
    position: relative;
    float: left;
    background: $gold;
    transition: 0.15s ease-out;
    width: 200px;
    width: 275px;
    text-transform: uppercase;
    &:before {
      content: '';
      display: block;
      border: $gold 1000px solid;
      position: absolute;
      left: 100%;
      top: 0;
      border-top-color: transparent;
      border-left: 500px solid $gold;
      border-right-color: transparent;
      transition: 0.15s ease-out;
    }
    a {
      display: block;
      color: $dark;
      padding: 15px 10%;
      padding-right: 15%;
      text-align: center;
      transition: 0.15s ease-out;
      &:hover {
        color: white;
      }
    }
    &:hover {
      background: $dark;
      &:before {
        border-left-color: $dark;
        border-bottom-color: $dark;
      }
    }
  }
}

.next_week_wrapper {
  width: 320px;
  max-width: 100%;
  float: right;
}

.prev_week_wrapper {
  width: 320px;
  max-width: 100%;
  float: left;
}

.next_lunch {
  color: $dark;
  position: relative;
  overflow: hidden;
  font-size: 35px;
  font-weight: bold;

  .title, .weekday {
    float: right;
    padding: 15px;
  }
  .title {
    background: $gold;
    padding-right: 20%;
  }
  .weekday {
    background: $dark;
    color: white;
    position: relative;
    text-transform: uppercase;
    &:before {
      content: '';
      display: block;
      border: $dark 1000px solid;
      position: absolute;
      right: 100%;
      top: 0;
      border-top-color: transparent;
      border-right: 500px solid $dark;
      border-left-color: transparent;
    }
  }
}

.calendar_week_wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: $dark;
  color: white;
  border-bottom: $gold 10px solid;
  text-align: center;

  .prev_week, .next_week {
    flex: 0 75px;
    background: $red;
    display: flex;
    transition: 0.15s ease-out;

    .right_triangle {
      width: 0;
    	height: 0;
    	border-top: 15px solid transparent;
    	border-bottom: 15px solid transparent;
    	border-left: 30px solid white;
      display: block;
      margin: auto;
    }
    .left_triangle {
      width: 0;
    	height: 0;
    	border-top: 15px solid transparent;
    	border-bottom: 15px solid transparent;
    	border-right: 30px solid white;
      display: block;
      margin: auto;
    }
    &:hover {
      background: $gold;
    }
  }
  .this_date {
    flex: 1;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
  }
}

.features {
  font-size: 20px;
  line-height: 1.5;
}

.centered {
  text-align: center;
  margin: 0;
}
