body.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  header.banner {
    flex: 0 0 100px;
    .main_header {
      .brand img {
        width: 100px;
        padding: 5px 0 0;
      }
    }
    .menu_button {
      line-height: 100px;
      height: 100px;
    }
    .menu_sidebar.open {
      top: 100px;
    }
    .mission {
      .mission_headline {
        line-height: 100px;
      }
    }
  }
  footer.content-info {
    flex: 0 0 50px;
  }
}

.stained_glass {
  display: flex;
  flex: 1;
  flex-direction: column;

  .top_glass {
    flex: 5 0 0;
    display: flex;
    flex-direction: row;
    .left_glass {
      flex:1;
      display: flex;
      flex-direction: column;
      .left_top, .left_middle, .left_bottom {
        display: flex;
      }
      .left_top {
        flex: 2;
      }
      .left_middle {
        flex: 2;
      }
      .left_bottom {
        flex: 1;
      }
    }
    .right_glass {
      flex: 2;
      display: flex;
      flex-direction: column;
      .right_top, .right_bottom {
        flex: 1;
        display: flex;
        flex-direction: row;
      }
      .right_top {
        .right_left {
          display: flex;
          flex: 5;
        }
        .right_right {
          display: flex;
          flex: 6;
          display: flex;
          flex-direction: column;
          .right_right_top, .right_right_bottom {
            flex: 1;
            display: flex;
          }
          .right_right_top {
          }
          .right_right_bottom {
          }
        }
      }
      .right_bottom {
        background: orange;

        .right_bottom_left, .right_bottom_right {
          display: flex;
        }
        .right_bottom_left {
          flex: 1;
        }
        .right_bottom_right {
          flex: 1;
        }
      }
    }
  }
  .bottom_glass {
    display: flex;
    flex: 1 0 0;
    flex-direction: row;
    .bottom_left, .bottom_middle, .bottom_right {
      display: flex;
    }
    .bottom_left {
      flex: 5;
    }
    .bottom_middle {
      flex: 4;
    }
    .bottom_right {
      flex: 4;
    }
  }

  .pane {
    display: flex;
    position: relative;
    align-items: center;
    flex: 1;
    justify-content: center;
    background-size: cover;
    background-position: center;
    transition: 0.15s ease-out;
    overflow: hidden;
    padding: 20px;
    text-align: center;

    &.lunch {
      background-image: url(../images/Lunch_small.jpg);
    }

    &.happening {
      background-image: url(../images/Calendar_small_temporary.jpg);
    }

    &.clubs {
      background-image: url(../images/ClubsSports_Small.jpg);
    }

    &.gallery {
      background-image: url(../images/Gallery_art_small.jpg);
    }

    &.families {
      background-image: url(../images/forfamilies_small.jpg);
    }

    &.classrooms {
      background-image: url(../images/Classrooms_small.jpg);
    }

    &.story {
      background-image: url(../images/SPSL_story_small.jpg);
    }

    &.considering {
      background-image: url(../images/Considering_small.jpg);
    }

    &.spslomaha {
      background-image: url(../images/SPSL_Insta.jpg);
    }

    &.parishes {
      background-image: url(../images/Parishes_small.jpg);
    }

    &.support {
      background-image: url(../images/Support_small.jpg);
    }

    .overlay {
      position: absolute;
      height: 120%;
      width: 120%;
      left: -10%;
      top: -10%;
      margin: 0;
      padding: 15px;
      transition: 0.2s ease-out;
      .overlay_border {
        display: block;
        height: 100%;
        width: 100%;
        border: 1px solid transparent;
        transition: 0.2s ease-out;
      }
    }
    &:hover, &:focus, &:active {
      text-decoration: none;
    }
    &:hover {
      box-shadow: inset 1px 1px 150px #000;
      text-decoration: none;
      .overlay {
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        .overlay_border {
          border: 1px solid white;
        }
      }
    }

    .pane_content {
      color: white;
      font-family: 'Cardenio-Modern';
      font-size: 45px;
    }
  }

}
