
@font-face {
    font-family: 'Cardenio-Modern';
    src:url('../fonts/Cardenio-Modern.ttf.woff') format('woff'),
        url('../fonts/Cardenio-Modern.ttf.svg#Cardenio-Modern') format('svg'),
        url('../fonts/Cardenio-Modern.ttf.eot'),
        url('../fonts/Cardenio-Modern.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

.cm {
  font-family: 'Cardenio-Modern';
}

img {
  max-width: 100%;
  &.full_width {
    width: 100%;
    margin: 50px 0;
  }
}

.slim_button {
  font-family: 'Cardenio-Modern';
  color: white;
  display: table;
  margin: 5px auto;
  position: relative;
  z-index: 1;
  border: 5px solid transparent;
  transition: 0.1s ease-out;

  .slim_wrapper {
    display: inline-block;
    border-radius: 6px;
    padding: 5px 10px;
    transition: 0.1s ease-out;
    font-size: 30px;
    min-width: 300px;
    text-align: center;
  }

  &:hover {
    border-top: 0px solid transparent;
    border-left: 0px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    .slim_wrapper {
      color: white;
      box-shadow: 5px 5px 0px $gold;
      text-decoration: none;
    }
  }

  &.dark {
    .slim_wrapper {
      background: $dark;
      z-index: 1;
    }
  }
  &.red {
    .slim_wrapper {
      background: $red;
      }
  }


}
