// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary: red;
$gold: #F7B132;

$red: #88171A;

$dark: #10202B;
