header.banner {
  background: $dark;
  height: 75px;
  position: relative;
  .container {
    position: relative;
    z-index: 1;
  }
  .brand {
    img {
      width: 75px;
      padding: 12px 0 0;
    }
  }
  a {
    border: none;
  }
  .mission {
    color: white;
    .mission_headline, .mission_copy {
    }
    .mission_copy {
      font-size: 14px;
    }
    .mission_headline {
      margin: 0px 15px;
      font-size: 40px;
      line-height: 0.64;
    }
  }
  .menu_button {
    cursor: pointer;
    position : absolute;
    right: 30px;
    color: white;
    position: absolute;
    bottom: 7px;
    margin: 0;
    text-align: center;
    font-size: 25px;
    z-index: 1;
    background: $dark;
    .navicon {
      height: 18px;
      display: inline-block;
      vertical-align: middle;
    }
    .menu_word {
      display: inline-block;
      vertical-align: middle;
    }
  }
  .main_header {
    width: 100%;
    padding: 0 15px;
    .brand, .mission, .menu_button {
      display: inline-block;
      vertical-align: bottom;
    }
  }
}
.close_menu_button {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  line-height: 15px;
  cursor: pointer;
  transition: .15s ease-in-out;
  font-family: 'Cardenio-Modern';
  &:hover {
    color: $red;
  }
}

.menu_overlay {
  height: 100%;
  width: 100%;
  opacity: 0;
  top: 0;
  z-index: -1;
  position: fixed;
  background: rgba(0,0,0,0.9);

  &.open {
    opacity: 0.8;
    z-index: 11;
  }
}

.menu_sidebar {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
  width: 300px;
  height: 100%;
  right: -300px;
  transition: 0.15s ease-out;
  z-index: 11;
  padding-top: 100px;
  &.open {
    display: block;
    opacity: 1;
    background: $dark;
    right: 0;
    max-width: 100%;
  }
  .nav {
    text-align: center;
    font-family: 'Cardenio-Modern';
    font-size: 25px;
    li {
      border-bottom: rgba(255,255,255,0.5) solid 1px;
      margin: 0 15px;
      &:hover, &:focus, &:active {
        background: $dark;
      }
      &:last-child {
        border-bottom: none;
      }
    }
    a {
      color: white;
      transition: 0.15s ease-out;
      padding: 3px 15px;
      border: none;
      &:hover, &:focus, &:active {
        color: $gold;
        background: $dark;
      }
    }
  }
}


.admin-bar {
  .menu_sidebar {
    padding-top: 132px;
    .close_menu_button {
      top: 32px;
    }
  }
}
